
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# 配置忽略本地配置文件
**/src/main/resources/application-dev.yml
**/src/main/resources/application-prod.yml
/config/nacos/nacos-dev.properties
/config/nacos/nacos-prod.properties

/doc/nacos/**


node_modules/
**/node_modules/
**/unpackage/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.log
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
