<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fly.test.mapper.TestMapper2">

    <insert id="insertTestData">
        insert into test_seata (database_name, test_data)
        values ('数据源一', #{testData})
    </insert>

    <select id="selectDataSourceOneTestData" resultType="com.fly.bpm.api.domain.vo.SeataTestDataVo">
        select id, database_name, test_data, create_time
        from test_seata
        order by create_time desc, id desc
        limit 10
    </select>

</mapper>
