<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fly.bpm.test.mapper.TestMapper">


    <insert id="insertTestData">
        insert into test(user_id, order_id) values ('dance-001', 'dance-001');
    </insert>


</mapper>
