package ${packageName}.mapper;

import com.fly.common.database.web.mapper.BaseMapperPlus;
import ${packageName}.domain.${ClassName};
import ${packageName}.domain.vo.${ClassName}Vo;

/**
 * ${functionName}Mapper接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${ClassName}Mapper extends BaseMapperPlus<${ClassName}Mapper, ${ClassName}, ${ClassName}Vo> {

}
